* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: currentColor; }

li {
  list-style: none; }

button {
  border: none; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #382F26; }

.btn {
  display: block;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  border: 2px solid;
  transition: all .8s ease-in; }
  @media (max-width: 1200px) {
    .btn {
      height: 40px;
      font-size: 18px; } }
  @media (max-width: 992px) {
    .btn {
      font-size: 14px; } }
  @media (max-width: 768px) {
    .btn {
      font-size: 12px;
      height: 30px; } }
  .btn_small {
    width: 116px;
    font-weight: 400;
    margin-top: 20px;
    background-color: transparent;
    color: #fff;
    border-color: #fff; }
    @media (max-width: 576px) {
      .btn_small {
        width: 100%;
        font-size: 16px; } }
  .btn_medium {
    width: 140px;
    background-color: transparent;
    color: #E95A0C;
    border-color: #E95A0C; }
    @media (max-width: 1200px) {
      .btn_medium {
        width: 120px; } }
    @media (max-width: 992px) {
      .btn_medium {
        width: 110px; } }
    @media (max-width: 768px) {
      .btn_medium {
        width: 90px; } }
    @media (max-width: 576px) {
      .btn_medium {
        width: 80px; } }
  .btn_large {
    width: 170px;
    margin-top: 40px;
    background-color: #E95A0C;
    color: #fff;
    border-color: #E95A0C; }
    @media (max-width: 1200px) {
      .btn_large {
        width: 140px; } }
    @media (max-width: 992px) {
      .btn_large {
        width: 120px; } }
    @media (max-width: 768px) {
      .btn_large {
        width: 100px; } }
    @media (max-width: 576px) {
      .btn_large {
        width: 110px;
        margin-top: 20px; } }
  .btn_hover-chromatic:hover {
    background-color: #E95A0C;
    color: #fff;
    border-color: #E95A0C; }
  .btn_hover-tranparent:hover {
    background-color: transparent;
    color: #E95A0C;
    border-color: #E95A0C; }
  .btn_hover-white:hover {
    background-color: #fff;
    color: #221E1A;
    border-color: #fff;
    cursor: pointer; }

.hamburger {
  width: 40px;
  height: 40px;
  outline: none;
  display: none;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger_emphatic {
    overflow: hidden; }
  .hamburger__box {
    width: 40px;
    height: 24px; }
  .hamburger__inner {
    display: block;
    top: 25px;
    margin-left: 0; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger__inner {
    width: 40px;
    height: 4px;
    background-color: #E95A0C;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
    .hamburger__inner:after {
      width: 40px;
      height: 4px;
      background-color: #E95A0C;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
      content: "";
      display: block;
      bottom: -10px; }
    .hamburger__inner:before {
      width: 40px;
      height: 4px;
      background-color: #E95A0C;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
      content: "";
      display: block;
      top: -10px; }

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner:before,
.hamburger.is-active .hamburger__inner:after {
  background-color: #E95A0C; }

.hamburger_emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in; }

.hamburger_emphatic .hamburger__inner {
  transition: background-color 0.125s 0.175s ease-in; }

.hamburger_emphatic .hamburger__inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }

.hamburger_emphatic .hamburger__inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }

.hamburger_emphatic.is-active .hamburger__inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important; }

.hamburger_emphatic.is-active .hamburger__inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger_emphatic.is-active .hamburger__inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

@media only screen and (max-width: 576px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 20px; } }

.header {
  width: 100%;
  height: 942px;
  position: relative; }
  @media (max-width: 1200px) {
    .header {
      height: 640px; } }
  @media (max-width: 768px) {
    .header {
      height: 480px; } }
  @media (max-width: 576px) {
    .header {
      height: 320px; } }
  .header:after {
    content: "";
    background: url(../images/banner-background.png) no-repeat;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    position: relative;
    padding-right: 130px;
    padding-left: 285px; }
    @media (max-width: 1200px) {
      .header__menu {
        padding-left: 100px;
        padding-right: 40px; } }
    @media (max-width: 992px) {
      .header__menu {
        padding-left: 40px;
        padding-right: 20px; } }
  .header__logo-img {
    width: 156px;
    height: 65px; }
    @media (max-width: 1200px) {
      .header__logo-img {
        width: 125px;
        height: 52px; } }
    @media (max-width: 992px) {
      .header__logo-img {
        width: 78px;
        height: 33px; } }
    @media (max-width: 768px) {
      .header__logo-img {
        width: 63px;
        height: 26px; } }
    @media (max-width: 576px) {
      .header__logo-img {
        display: none; } }
  .header__logo-link {
    display: none; }
    @media (max-width: 576px) {
      .header__logo-link {
        display: block; } }
  .header__logo-mobile {
    position: absolute;
    width: 78px;
    height: 33px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0); }
  .header__logo {
    margin-right: 60px; }
  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 576px) {
      .header__nav-list {
        display: none; }
        .header__nav-list_show {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 70px;
          z-index: 10; } }
  @media (max-width: 576px) {
    .header__nav-item:nth-child(4) {
      display: none; } }
  .header__nav-link {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2em;
    margin-right: 60px;
    position: relative; }
    .header__nav-link:after {
      content: '';
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      background-color: #E95A0C;
      position: absolute;
      top: 25px;
      left: 0;
      transition: transform .5s ease; }
    .header__nav-link:hover:after {
      transform: scaleX(1); }
    @media (max-width: 1200px) {
      .header__nav-link {
        font-size: 16px; } }
    @media (max-width: 992px) {
      .header__nav-link {
        font-size: 14px; } }
    @media (max-width: 768px) {
      .header__nav-link {
        font-size: 12px; } }
    @media (max-width: 576px) {
      .header__nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 40px;
        font-size: 16px;
        background-color: #fff;
        border-bottom: 1px solid #E95A0C; }
        .header__nav-link:hover {
          background-color: #FFFAF6; }
          .header__nav-link:hover:after {
            transform: scaleX(0); } }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 225px;
    padding-right: 125px; }
    @media (max-width: 1200px) {
      .header__content {
        padding-left: 125px;
        padding-right: 80px; } }
    @media (max-width: 992px) {
      .header__content {
        padding-left: 65px;
        padding-right: 20px; } }
    @media (max-width: 576px) {
      .header__content {
        padding-left: 40px; } }
  .header__title {
    color: #382F26; }
    .header__title_h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 1.2em;
      text-transform: uppercase; }
      @media (max-width: 1200px) {
        .header__title_h1 {
          font-size: 40px; } }
      @media (max-width: 992px) {
        .header__title_h1 {
          font-size: 28px; } }
      @media (max-width: 768px) {
        .header__title_h1 {
          font-size: 22px; } }
      @media (max-width: 576px) {
        .header__title_h1 {
          font-size: 16px; } }
    .header__title_h2 {
      font-weight: 300;
      font-size: 40px;
      line-height: 1.2em; }
      @media (max-width: 1200px) {
        .header__title_h2 {
          font-size: 32px; } }
      @media (max-width: 992px) {
        .header__title_h2 {
          font-size: 26px; } }
      @media (max-width: 768px) {
        .header__title_h2 {
          font-size: 18px;
          font-weight: 500; } }
      @media (max-width: 576px) {
        .header__title_h2 {
          font-size: 12px; } }
  .header__bunner-img {
    display: block;
    width: 586px;
    height: 686px; }
    @media (max-width: 1200px) {
      .header__bunner-img {
        width: 486px;
        height: 586px; } }
    @media (max-width: 992px) {
      .header__bunner-img {
        width: 386px;
        height: 486px; } }
    @media (max-width: 768px) {
      .header__bunner-img {
        width: 286px;
        height: 366px; } }
    @media (max-width: 576px) {
      .header__bunner-img {
        width: 126px;
        height: 186px; } }

.main {
  width: 100%;
  height: 350px;
  background: #E5E5E5;
  position: relative; }
  @media (max-width: 1200px) {
    .main {
      height: 250px; } }
  @media (max-width: 576px) {
    .main {
      height: 450px; } }
  .main__advantages-block {
    display: flex;
    position: absolute;
    top: -66px;
    right: 130px; }
    @media (max-width: 1200px) {
      .main__advantages-block {
        top: -33px;
        right: 50%;
        transform: translate(50%, 0); } }
    @media (max-width: 576px) {
      .main__advantages-block {
        top: 15px;
        flex-direction: column; } }
  .main__advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 132px; }
    @media (max-width: 768px) {
      .main__advantages-item {
        width: 180px;
        height: 115px; } }
    @media (max-width: 576px) {
      .main__advantages-item {
        width: 320px;
        height: 132px; } }
    .main__advantages-item:nth-child(even) {
      background: #FFFAF6; }
    .main__advantages-item:nth-child(odd) {
      background: #EFEAE6; }
    .main__advantages-item_hover:hover {
      background: #e9e3dc;
      cursor: pointer; }
  .main__advantages-icon {
    height: 40px;
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .main__advantages-icon {
        height: 33px; } }
    .main__advantages-icon_first {
      width: 63px;
      background: url(../images/charcoal-icon.png) no-repeat;
      background-size: cover; }
      @media (max-width: 768px) {
        .main__advantages-icon_first {
          width: 53px; } }
    .main__advantages-icon_second {
      width: 30px;
      background: url(../images/burner-icon.png) no-repeat;
      background-size: cover; }
      @media (max-width: 768px) {
        .main__advantages-icon_second {
          width: 25px; } }
    .main__advantages-icon_third {
      width: 39px;
      background: url(../images/fire-icon.png) no-repeat;
      background-size: cover; }
      @media (max-width: 768px) {
        .main__advantages-icon_third {
          width: 27px; } }
  .main__advantages-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #382F26; }
    @media (max-width: 768px) {
      .main__advantages-text {
        font-size: 14px; } }
    @media (max-width: 576px) {
      .main__advantages-text {
        font-size: 22px; } }

.footer {
  width: 100%;
  height: 299px;
  background: #221E1A;
  color: #fff;
  padding: 40px 130px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  @media (max-width: 1200px) {
    .footer {
      padding-left: 65px;
      padding-right: 65px; } }
  @media (max-width: 576px) {
    .footer {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 992px) {
    .footer {
      height: auto; } }
  .footer__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    @media (max-width: 992px) {
      .footer__content {
        flex-wrap: wrap;
        justify-content: center; } }
  .footer__menu-block {
    margin-right: 40px; }
    @media (max-width: 992px) {
      .footer__menu-block {
        margin-top: 30px;
        padding-bottom: 30px; }
        .footer__menu-block_first {
          order: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center; }
        .footer__menu-block_second {
          order: 2; }
        .footer__menu-block_third {
          order: 3; } }
    @media (max-width: 576px) {
      .footer__menu-block {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0; }
        .footer__menu-block_first {
          align-items: stretch; }
        .footer__menu-block_second {
          margin-right: 15px; } }
  .footer__title {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .footer__title {
        font-size: 16px; } }
    @media (max-width: 768px) {
      .footer__title {
        font-size: 14px;
        margin-bottom: 15px; } }
    @media (max-width: 576px) {
      .footer__title {
        font-size: 13px;
        margin-bottom: 10px; } }
  .footer__text, .footer__menu-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em; }
    @media (max-width: 992px) {
      .footer__text, .footer__menu-link {
        font-size: 14px; } }
    @media (max-width: 768px) {
      .footer__text, .footer__menu-link {
        font-size: 13px; } }
    @media (max-width: 576px) {
      .footer__text, .footer__menu-link {
        font-size: 12px; } }
  .footer__menu-link {
    display: inline-block;
    transition: color .3s ease-in; }
    .footer__menu-link_hover:hover {
      color: #E95A0C; }
  .footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px; }
    @media (max-width: 992px) {
      .footer__social-list {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .footer__social-list {
        font-size: 18px; } }
    @media (max-width: 576px) {
      .footer__social-list {
        font-size: 16px;
        height: 25px; } }
  .footer__social-link {
    margin-right: 15px; }
  .footer__social-icon {
    margin-top: 40px;
    transition: transform .6s ease-in; }
    .footer__social-icon_hover:hover {
      transform: scale(1.2); }
  .footer__input {
    width: 373px;
    height: 39px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: #221E1A;
    margin-top: 20px; }
    @media (max-width: 576px) {
      .footer__input {
        width: 100%; } }
  .footer__input, .footer__input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em; }
  .footer__input, .footer__input::-moz-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em; }
  .footer__input, .footer__input:-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em; }
  .footer__input, .footer__input::-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em; }
  .footer__input, .footer__input::placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em; }
    @media (max-width: 992px) {
      .footer__input, .footer__input::-webkit-input-placeholder {
        font-size: 14px; }
      .footer__input, .footer__input::-moz-placeholder {
        font-size: 14px; }
      .footer__input, .footer__input:-ms-input-placeholder {
        font-size: 14px; }
      .footer__input, .footer__input::-ms-input-placeholder {
        font-size: 14px; }
      .footer__input, .footer__input::placeholder {
        font-size: 14px; } }
    @media (max-width: 768px) {
      .footer__input, .footer__input::-webkit-input-placeholder {
        font-size: 13px; }
      .footer__input, .footer__input::-moz-placeholder {
        font-size: 13px; }
      .footer__input, .footer__input:-ms-input-placeholder {
        font-size: 13px; }
      .footer__input, .footer__input::-ms-input-placeholder {
        font-size: 13px; }
      .footer__input, .footer__input::placeholder {
        font-size: 13px; } }
    @media (max-width: 576px) {
      .footer__input, .footer__input::-webkit-input-placeholder {
        font-size: 12px; }
      .footer__input, .footer__input::-moz-placeholder {
        font-size: 12px; }
      .footer__input, .footer__input:-ms-input-placeholder {
        font-size: 12px; }
      .footer__input, .footer__input::-ms-input-placeholder {
        font-size: 12px; }
      .footer__input, .footer__input::placeholder {
        font-size: 12px; } }
  .footer__copyright {
    align-self: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #fff; }
    @media (max-width: 992px) {
      .footer__copyright {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .footer__copyright {
        font-size: 11px; } }
    @media (max-width: 576px) {
      .footer__copyright {
        font-size: 10px; } }
