.main {
    width: 100%;
    height: 350px;
    background: $mainBgColor;
    position: relative;
    @include xl {
        height: 250px;
    }
    @include sm {
        height: 450px;
    }
    &__advantages-block {
        display: flex;
        position: absolute;
        top: -66px;
        right: 130px;
        @include xl {
            top: -33px;
            right: 50%;
            transform: translate(50%, 0);
        }
        @include sm {
            top: 15px;
            flex-direction: column;
        }
    }
    &__advantages-item {
        @include flex(column, center, center);
        width: 245px;
        height: 132px;
        @include md {
            width: 180px;
            height: 115px;
        }
        @include sm {
            width: 320px;
            height: 132px;
        }
        &:nth-child(even) {
            background: $evenItemColor;
        }
        &:nth-child(odd) {
            background: $oddItemColor;
        }
        &_hover {
            &:hover {
                background: $hoverItemColor;
                cursor: pointer;
            }
        }
    }
    &__advantages-icon {
        height: 40px;
        margin-bottom: 10px;
        @include md {
            height: 33px;
        }
        &_first {
            width: 63px;
            background: url(../images/charcoal-icon.png) no-repeat;
            background-size: cover;
            @include md {
                width: 53px;
            }
        }
        &_second {
            width: 30px;
            background: url(../images/burner-icon.png) no-repeat;
            background-size: cover;
            @include md {
                width: 25px;
            }
        }
        &_third {
            width: 39px;
            background: url(../images/fire-icon.png) no-repeat;
            background-size: cover;
            @include md {
                width: 27px;
            }
        } 
    }
    &__advantages-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $mainFontColor;
        @include md {
            font-size: 14px;
        }
        @include sm {
            font-size: 22px;
        }
    }
}