$mainFontColor: #382F26;
$secondColor: #E95A0C;
$thirdColor: #fff;
$evenItemColor: #FFFAF6;
$oddItemColor: #EFEAE6;
$hoverItemColor: #e9e3dc;
$mainBgColor: #E5E5E5;
$footerBgColor: #221E1A;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
// Large tablets and desktops
$screen-xl-max: 1200px;
